
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
	<div>
		<input type="button" id="test" />

	</div>
	<script>
		$('#test').click(function (e) {

			e.preventDefault();

			//var source = {
			//	"Username": "myusername34@del.com",
			//	"PasswordHash": "test2",
			//	"FirstName": "cons",
			//	"LastName": "con"

			//};
			var source = {
				"Email" : "conradomanzano@gmail.com",
				"FirstName" : "value.FirstName",
				"LastName" : "value.LastName",
				"MiddleName" : "value.MiddleName",
				"BirthDate" : "2019-05-19",
				"Gender" : 2,
				"HomeAddress" : "value.HomeAddress",
				"Town" : "value.Town",
				"District" : "value.District",
				"Province" : "value.Province",
				"City" : "value.City",
				"MobileNumber" : "value.MobileNumber",
				"LicenseNumber" : "value.LicenseNumber",
				"Password" : "passHash"

			};

					alert('test begin');



					//jQuery.support.cors = false;
					$.ajax({

						type: "POST",
						url: "http://localhost:63899/api/DriverRegistration",
						//url: "http://localhost:63899/api/User",
						//url: "http://cons:63899/api/User",
						//url: "http://192.168.88.25:9000/api/DriverRegistration",
						data: JSON.stringify(source),
						//data: "1",
						contentType: 'application/json; charset=utf-8',

						dataType: 'json',

						success: function (data) {
							alert("success");
							alert(data);

						},

						error: function (error) {
							alert(error);
							jsonValue = jQuery.parseJSON(error.responseText);

							//jError('An error has occurred while saving the new part source: ' + jsonValue, { TimeShown: 3000 });

						}

					});



				});



	</script>
</body>
</html>
