<!DOCTYPE html>
@*
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>*@
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		<input type="button" id="test" />

	</div>
	<script>
		$('#test').click(function (e) {

			e.preventDefault();

			var source = {
				"FirstName": "myname",
				"LastName": "manzono", "UserName": "myemail"
			};

					alert('test begin');




					$.ajax({

						type: "GET",

						url: "http://localhost:63899/api/UserModels/UserController",

						data: JSON.stringify(source),
						//data: "1",
						contentType: 'application/json; charset=utf-8',

						dataType: 'json',

						success: function (data) {

							alert(data);

						},

						error: function (error) {

							jsonValue = jQuery.parseJSON(error.responseText);

							//jError('An error has occurred while saving the new part source: ' + jsonValue, { TimeShown: 3000 });

						}

					});



				});



	</script>

</body>
</html>
