
@{
    Layout = null;
}

<!DOCTYPE html>
@*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>*@
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
		<input type="button" id="test" />

    </div>
	<script>
		$('#test').click(function (e) {

			e.preventDefault();

			var source = {

				"Username": "cons.manzano@backofficesolutions.ph",
				"Password": "test2"

			};

					alert('test begin');

					

					
					$.ajax({

						type: "POST",

						//url: "http://localhost:63899/api/DriversLogin",
						//url: "http://localhost:63899/api/User",

						//url: "http://cons:63899/api/User",
						url: "http://192.168.88.25:9000/api/DriversLogin",
						data: JSON.stringify(source),
						//data: "1",
						contentType: 'application/json',

						dataType: 'json',

						success: function (data) {
							alert("success");
							alert(data.Token);

						},

						error: function (error) {
							alert(error);
							jsonValue = jQuery.parseJSON(error.responseText);

							//jError('An error has occurred while saving the new part source: ' + jsonValue, { TimeShown: 3000 });

						}

					});
				  

			
				});

				

	</script>

</body>
</html>
